<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Books
        </h1>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div id="srberror"></div>
                <a href="/Book/AddBook"> <button class="btn btn-primary my-2 my-sm-0"> Add Book</button></a>
            </div>
        </div><br>
        <%- include ('../../partials/messages') %>
        <div style="overflow-x:auto;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Edition</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(function(book){ %>
                    <tr>
                        <td><%= book.bookId %></td>
                        <td><%= book.isbn %></td>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.edition %></td>
                        <td><a href="/Book/Edit/<%= book._id %>" class="btn btn-info"> Edit</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- /.row -->