<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            All Books Issued
        </h2>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div id="searretuerrors"></div>
                <form class="form-inline my-2 my-lg-0" action="/BatchReturn" method="POST" id="search-return-book">
                    <select name="batch" id="viewSel" class="form-control">
                        <option value="">Select</option>
                        <% batchs.forEach(function(batch){ %>
                        <option value="<%= batch._id %>"><%=batch.start %> - <%=batch.end %></option>
                        <% }); %>
                    </select>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit"> Search </button> 
                  </form> 
                  <br>
                <a href="/Returns"> <button class="btn btn-primary my-2 my-sm-0"> View All </button></a>
                <a href="/Returnbook"><button class="btn btn-primary my-2 my-sm-0"> Return </button></a>
            </div>
        </div><br>
        <% if(typeof issretmsg != 'undefined'){ %>
            <div class="alert alert-danger" role="alert"><%= issretmsg %></div>
        <% } %>
        <% if(typeof issretpass != 'undefined'){ %>
            <div class="alert alert-danger" role="alert"><%= issretmsg %></div>
        <% } %>
        <% if(typeof returns != 'undefined'){ %>
        <div style="overflow-x:auto;">  
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Book Id</th>
                        <th>Admission No</th>
                        <th>Batch</th>
                        <th>Issued Date</th>
                    </tr>
                </thead>
                <tbody>    
                    <% returns.forEach(function(ret){ %>
                        <% if(!ret.returnDate){ %>
                        <tr>
                            <td><%= ret.bookID %></td>
                            <td><%= ret.stdID %></td>
                            <td><%= ret.batch.start %> - <%= ret.batch.end %></td>
                            <td><%= ret.issueDate %></td>
                        </tr>
                        <% } %>
                    <% })%>
                </tbody>   
            </table>
        </div>
        <% } %> 
        <% if(typeof stds != 'undefined' && typeof selbatch !='undefined'){ %>
        <div style="overflow-x:auto;">  
            <table class="table table-bordered">
                <h3><b>Batch (<%= selbatch.start %> -  <%=selbatch.end %>)</b></h3>
                <thead>
                    <tr>
                        <th>Admission No</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Books Taken</th>
                         
                    </tr>
                </thead>
                <tbody>  
                    <% stds.forEach(function(std){ %>
                        <% if(std.takenBkId.length >0){ %>
                            <tr> 
                                <td><%= std.admNo %></td>
                                <td><%= std.name %></td>
                                <td><%= std.gender %></td>
                                <td><%= std.takenBkId %></td>
                            </tr>
                        <% } %>
                    <%});%>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>
</div>